<%# Write your code here! %>
<html>
    <head>
        <h1><b>Welcome!</b></h1>
        <h3><b>If you tell me your name I can say hi! </b></h3>
    </head>
    <body>
        <form method="POST" action="/greet">
          <p>Name: <input type="text" name="user_name"></p>
          <input value="Submit" type="submit">
        </form>
    </body>
</html>